.btn-toolbar {
  margin-bottom: 10px;
}

.btn-toolbar > .btn,
.btn-toolbar > .btn-group,
.btn-toolbar > .input-group {
  margin-left: 0;
}

.btn-toolbar .btn {
  padding: 6px 12px;
}

.container-fluid .thumbnail {
  padding: 5px;
}

.list-group-item.active,
.list-group-item.active:hover,
.list-group-item.active:focus {
  color: #555;
  background: #F5F5F5;
}

.list-group-item.active .list-group-item-text,
.list-group-item.active:hover .list-group-item-text,
.list-group-item.active:focus .list-group-item-text {
  color: inherit;
}
