<div id="main">
  <div class="col-md-5 col-lg-4">
    <img src="{{thumbnail.path}}/detail.{{thumbnail.extension}}" class="img-rounded img-responsive" />
  </div>

  <div class="col-md-7 col-lg-8">
    <h1>Welcome to Marvelous</h1>
    <p>We handle all your Marvel event needs.</p>
  </div>
</div>
